run = "python -m src"
modules = ["python-3.12", "nix"]
hidden = [".pythonlibs"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[deployment]
run = ["sh", "-c", "python -m src"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8080
externalPort = 80
